@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4c4c4c;
}

button {
  border: none;
  text-decoration: none;
  background: none;
}

body {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: #4c4c4c;
}

.promotional-top-bar {
  background: linear-gradient(45deg, #A6033F, #F26DAB);
  width: 100%;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.container-center {
  max-width: 1200px;
  margin: 0 auto;
}
.container-center header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.container-center header .logo img {
  width: 60px;
  height: auto;
}
.container-center header .header-search {
  position: relative;
}
.container-center header .header-search input {
  padding: 0 16px;
  width: 500px;
  height: 40px;
  font-size: 16px;
  font: 16px;
  outline: none;
  border: none;
  color: #4c4c4c;
  border-radius: 20px;
  border: 1px solid #4c4c4c;
}
.container-center header .header-search input::placeholder {
  font-size: 16px;
  color: #a09e9e;
}
.container-center header .header-search input:focus {
  background-color: #fff0f06c;
  border: 1px solid #F26DAB;
}
.container-center header .header-search .search {
  margin-right: 20px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.container-center header .header-search .search a i {
  font-size: 20px;
  color: #a09e9e;
}
.container-center header .header-search .search a i:hover {
  color: #F26DAB;
}
.container-center header .header-bar {
  display: flex;
  justify-content: center;
}
.container-center header .header-bar .header-hover {
  padding: 5px;
  margin-right: 20px;
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.container-center header .header-bar .header-hover a:hover {
  color: #F26DAB;
}
.container-center header .header-bar .header-hover a i {
  margin: 3px;
}
.container-center header .header-bar .header-hover .login-link {
  font-size: 16px;
  font-weight: 400;
}
.container-center header .header-bar .header-subscribe {
  position: relative;
}
.container-center header .header-bar .header-subscribe .dropdown-subscription {
  padding: 5px;
  border: 1px solid #4c4c4c;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(76, 76, 76, 0.1);
  position: absolute;
  width: 100%;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%) rotateX(-90deg);
  transform-origin: top center;
  transition: 0.3s;
  background-color: white;
  width: 200px;
}
.container-center header .header-bar .header-subscribe:hover .dropdown-subscription {
  transform: translateX(-50%) rotateX(0);
}
.container-center header .header-bar .login {
  position: relative;
}
.container-center header .header-bar .login ul {
  padding: 5px;
  border: 1px solid #4c4c4c;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(76, 76, 76, 0.1);
  position: absolute;
  width: 100%;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%) rotateX(-90deg);
  transform-origin: top center;
  transition: 0.3s;
  background-color: white;
}
.container-center header .header-bar .login ul li:not(:last-child) {
  margin-bottom: 10px;
}
.container-center header .header-bar .login:hover .dropdown {
  transform: translateX(-50%) rotateX(0);
}
.container-center header .header-bar .header-text {
  font-size: 16px;
}
.container-center header .header-bar .header-icone {
  padding-right: 5px;
}
.container-center nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#animation > svg > g > g:nth-child(4) > g > path {
  fill: #A6033F;
}

/*# sourceMappingURL=home-page.css.map */
