@import 'reset.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    background: linear-gradient(45deg, #A6033F, #F26DAB);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    @include flex-center;    
} 

.container-center {
    background-color: $primary-color;
    width: 400px;
    padding: 30px;
    box-shadow: 5px 5px 15px rgba($color: #2c0109, $alpha: 0.5);
    border-radius: 10px;

    main {
        h1 {
            font-size: 50px;
            margin-bottom: 30px;
            text-align: center;
            position: relative;
            font-weight: 900;

            &::after {
                content:'';
                width: 50px;
                height: 4px;
                border-radius: 4px;
                position: absolute;                
                left: 50%;
                transform: translateX(-60px);
                bottom: 5%;
                background: linear-gradient(45deg, #A6033F, #F26DAB);
            }
        }

        form {
            .field {
                position: relative;

                input {
                    width: 100%;
                    height: 50px;
                    outline: none;
                    font-size: 20px;
                    margin-bottom: 30px;
                    border: none;

                    &::placeholder {
                        font-size: 20px;
                        padding-left: 16px;
                        color: grey;
                        font-weight: 300;
                    }                    
                }
                
                &::after {
                    content:'';
                    height: 1px;
                    width: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.1);
                    position: absolute;
                    left: 0;
                    bottom: 30%;
                }
            }

            .register {
                p {
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 20px;

                    a {
                        font-weight: 700;
                        color: $background-color1;
                    }
                }
            }

            button {
                border: none;
                margin-bottom: 30px;
                width: 100%;
                padding: 10px;
                font-size: 20px;
                border-radius: 10px;
                background-color: #85C285;
                cursor: pointer;
                color: $primary-color;
                position: relative;
                
                &:hover {
                    letter-spacing: 1px;
                    transition: 1s;                
                }
                

                >span {
                    position: relative;
                    padding: 0 10px;

                    &::after {
                        content:'';
                        width: 0;
                        height: 4px;
                        border-radius: 2px;
                        position: absolute;
                        top: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: 0.4s;
                        background-color: white;
                    }
                    
                    &:hover {                        
                        &::after {
                            width: 100%;
                        }                                             
                    }
                }
            }
        }
    } 

    footer {
        p {
            font-size: 16px;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .social-medias {
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                font-size: 18px;
                color: $primary-color;
                cursor: pointer;

                &:first-child {
                    margin-bottom: 10px;
                }

                i {
                    margin-right: 50px;
                    font-size: 18px;
                    width: 15px;
                }
            }

            .facebook {
                padding: 16px;
                border-radius: 10px;
                background: linear-gradient(to right, #29487d, #3c5898, #9cb2ce);

                &:hover {
                    letter-spacing: 0.5px;
                    transition: 0.3s;
                }
            }

            .instagram {
                padding: 16px;
                border-radius: 10px;
                background: linear-gradient(to right, #c32aa3, #4c5fd7, #7232bd, #f46f30);

                &:hover {
                    letter-spacing: 0.5px;
                    transition: 0.3s;
                }
            }
        }
    }

}

